@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-Bld.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-BldIta.ttff);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-Blk.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-BlkIta.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-Lt.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-LtIta.ttf);
}

@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-Med.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-MedIta.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-Reg.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-RegIta.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-Thin.ttf);
}
@font-face {
  font-family: "ParmigianoPiccoloPro";
  src: url(fonts\ParmigianoPiccoloPro-ThinIta.ttf);
}
