@import "reset.css";
@import "fonts.css";
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  align-items: center;
  background-color: #fff5da;
}
.about {
  display: flex;
  width: 760px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2c2929;
  position: relative;
  left: 63%;
  top: 20%;
  transform: translate(-25%, -25%);
}
.main {
  background-color: #fff5da;
}
.page {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mtbox {
  display: flex;
  width: 709px;
  height: 341px;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  left: 15%;
  top: 30%;
  transform: translate(-15%, -25%);
}
.hand {
  position: absolute;
  left: 1450px;
  top: 300px;
  transform-origin: center bottom;
  flex-shrink: 0;
  color: #2c2929;
  font-size: 350px;
  font-weight: 900;
  line-height: normal;
  animation: rotate 3s ease-in-out infinite;
}
.mibox {
  position: absolute;
  left: 7%;
  top: 12%;
  transform: translate(-15%, -25%);
  width: 484.513px;
  height: 666.234px;
  flex-shrink: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(18.817deg);
  }
  100% {
    transform: rotate(0);
  }
}
h1 {
  text-align: right;
  font-family: "Parmigiano Piccolo Pro";
  font-size: 128px;
  font-style: italic;
  font-weight: 900;
  line-height: 1;
}
h2 {
  color: #2c2929;
  font-size: 128px;
  font-weight: 700;
  text-align: center;
}
p {
  font-size: 48px;
  font-weight: 300;
  line-height: 1.01;
}
